{% extends 'base.html' %}

{% block title %}Cities Weather{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-xs-4">
                <form action="" method="post">
                    <div>
                        {% csrf_token %}
                        {{form}}
                        <span><input type="submit" value="search"></span>
                    </div>
                </form>
                <small><b>Choices(Thunderstorm, Drizzle, Rain, Snow, Atmosphere, Clear, Clouds)</b></small>
                <br>
            </div>
        </div>
    </div> 
{% endblock content %}
